* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

#counter {
  font-size: 35vw;
  color: white;
  -webkit-text-stroke: 2px black;
  background: transparent;
  position: absolute;
  z-index: 1;
}

#box {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity: 0.9;
}

#pointer-text {
  transition: 0.3s;
  display: none;
}

.box-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  position: relative;
  z-index: 1;
}

.inner-box {
  height: 200px;
  width: 200px;
  position: absolute;
  transform-style: preserve-3d;
  animation: animate 3s linear;
  z-index: 10000;
}

.box {
  height: 200px;
  width: 200px;
}

#right {
  right: 100px;
  transform: rotateY(-90deg);
}

#left {
  left: 100px;
  transform: rotateY(90deg);
}

#back {
  transform: translateZ(-100px) rotateY(180deg);
}

#front {
  transform: translateZ(100px);
}

@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.btns {
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* tilt forward */
.btns:hover {
  transform: rotateX(90deg);
}

#front-btn {
  transform: translateZ(35px);
}

#bottom-btn {
  top: 35px;
  transform: rotateX(-90deg);
}
