* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

#counter {
  font-size: 35vw;
  color: white;
  position: absolute;
  z-index: 1;
}

#box {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity: 0.9;
}

#pointer-text {
  transition: 0.3s;
  display: none;
}

.box-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  position: relative;
  z-index: 1;
}

.inner-box {
  height: 200px;
  width: 200px;
  position: absolute;
  transform-style: preserve-3d;
  animation: animate 3s linear;
  z-index: 10000;
}

.box {
  height: 200px;
  width: 200px;
}

#right {
  right: 100px;
  transform: rotateY(-90deg);
}

#left {
  left: 100px;
  transform: rotateY(90deg);
}

#back {
  transform: translateZ(-100px) rotateY(180deg);
}

#front {
  transform: translateZ(100px);
}

#bottom {
  top: 100px;
  transform: rotateX(90deg);
}

#top {
  bottom: 100px;
  transform: rotateX(-90deg);
  border: none;
}

@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.btns {
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* tilt forward */
.btns:hover {
  transform: rotateX(90deg);
}

#front-btn {
  transform: translateZ(35px);
}

#bottom-btn {
  top: 35px;
  transform: rotateX(-90deg);
}

/* Form */

#form-container {
  transform: translateX(100%) !important; /* initially off-screen */
}

.input-box {
  position: relative;
  padding: 10px 0;
  font-size: 15px;
  > input,
  textarea {
    border: 1px solid #fff;
    background-color: transparent;
    width: 100%;
    resize: none;
    padding: 25px;
  }
  > span {
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 1.3rem;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:valid ~ span{
  transform: translateY(-50px) translateX(-20px);
  font-size: 1rem;
  color: #FF0091;

}

.input-box input:focus, textarea:focus{
  outline: none;
  border: 3px solid green;
}


.underline-hover,.underline-hover-2 {
  position: relative;
  display: inline-block;
}

.underline-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-hover:hover::before {
  width: 0%;
}


.underline-hover-2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-hover-2:hover::before {
  width: 100%;
}
